div a {
    text-decoration: none;
}

.menu-buttons {
    display: flex;
    flex-direction: row;
    padding-inline: 15px;
    width: max-content;
    padding-right: 15px;
}

.logo {
    display:flex;
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 30px;
    padding-block: 30px;
    padding-inline-start: 50px
}

.menu-buttons-icons {
    display: flex;
    padding-block: 16px;
    height: 55px;
    justify-content: center;
    padding-right: 15px;
}

.menu-buttons-text {
    padding-block: 15px;
    padding-right: 15px;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
}

.left-header {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-right: 0%;
    border-right: 1.5px solid #2D2D2D;
    max-width: max-content;
    height: 1000px;
    padding-right: 50px;
}

.left-header-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100px;
}

#MoreButton {
    position: relative;
    padding-top: 155px;
    height: 300px;
}

.status-bar {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    height: max-content;
    width: max-content;
}

.status-bar-icon {
    display: flex;
    flex-direction: row;
    height: 76px;
    padding-block: 10px
}

.feed {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 auto
}

.user-status {
    display: flex;
    flex-direction: column;
    padding-inline: 9px;
}

.user-status-name{
    display: flex;
    color: white;
    font-size: 15px;
    justify-self: stretch;
    margin: 0 auto;
}

#status-icon {
    display: flex;
    position: fixed;
}